@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@import "tailwindcss";

@plugin "tailwind-scrollbar";


@theme {
    --font-sans: 'Sora', sans-serif;

    --color-base: #0B0D12;
    --color-surface: #121520;
    --color-elevated: #1A1F2E;
    --color-border: #262B3D;

    --color-accent: #10B981;
    --color-accent-hover: #059669;

    --color-text-primary: #F8FAFC;
    --color-text-secondary: #A1A8C3;
    --color-text-muted: #6B7394;

    --color-income: #10B981;
    --color-expense: #F43F5E;
    --color-warning: #F59E0B;
    --color-danger: #DC2626;

    --breakpoint-miniphone: 0px;
    --breakpoint-phone: 640px;
    --breakpoint-tablet: 1080px;
    --breakpoint-desktop: 1920px;
}

[data-theme="light"] {
    --color-base: #F6F7FB;
    --color-surface: #FFFFFF;
    --color-elevated: #F1F3F9;
    --color-border: #D6DAE6;

    --color-accent: #11a772;
    --color-accent-hover: #037152;

    --color-text-primary: #031121;
    --color-text-secondary: #475069;
    --color-text-muted: #7C859F;
}

@layer base {
    body {
        font-family: var(--font-sans);
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.overflow-x-auto::-webkit-scrollbar {
    display: none;
}