@import url('https://fonts.googleapis.com/css2?family=Sora:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700&display=swap');

@import "tailwindcss";

@theme {
    --font-sans: 'Sora', sans-serif;
}