@import "tailwindcss";

@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "light";
    default: true;
    prefersdark: false;
    color-scheme: light;
    --color-base-100: oklch(100% 0 0);
    --color-base-100-hover: oklch(95% 0 0);
    --color-base-200: oklch(97% 0 0);
    --color-base-200-hover: oklch(92% 0 0);
    --color-base-300: oklch(94% 0 0);
    --color-base-300-hover: oklch(89% 0 0);
    --color-base-content: oklch(0% 0 0);
    --color-primary: oklch(15.906% 0 0);
    --color-primary-hover: oklch(10% 0 0);
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(21.455% 0.001 17.278);
    --color-secondary-hover: oklch(16% 0.001 17.278);
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: oklch(62% 0.214 259.815);
    --color-accent-hover: oklch(55% 0.214 259.815);
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(0% 0 0);
    --color-neutral-hover: oklch(5% 0 0);
    --color-neutral-content: oklch(100% 0 0);
    --color-info: oklch(62% 0.214 259.815);
    --color-info-hover: oklch(55% 0.214 259.815);
    --color-info-content: oklch(15.908% 0.02 205.9);
    --color-success: oklch(79% 0.209 151.711);
    --color-success-hover: oklch(72% 0.209 151.711);
    --color-success-content: oklch(18.026% 0.03 164.14);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-hover: oklch(75% 0.189 84.429);
    --color-warning-content: oklch(17.674% 0.027 79.94);
    --color-error: oklch(70% 0.191 22.216);
    --color-error-hover: oklch(63% 0.191 22.216);
    --color-error-content: oklch(15.732% 0.03 28.47);
    --radius-selector: 0.25rem;
    --radius-field: 0.25rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: "dark";
    prefersdark: false;
    color-scheme: dark;
    --color-base-100: oklch(20% 0 0);
    --color-base-100-hover: oklch(25% 0 0);
    --color-base-200: oklch(25% 0 0);
    --color-base-200-hover: oklch(30% 0 0);
    --color-base-300: oklch(30% 0 0);
    --color-base-300-hover: oklch(35% 0 0);
    --color-base-content: oklch(95% 0 0);
    --color-primary: oklch(65% 0.09 263.902);
    --color-primary-hover: oklch(75% 0.09 263.902);
    --color-primary-content: oklch(18% 0.02 263.902);
    --color-secondary: oklch(70% 0.1 17.278);
    --color-secondary-hover: oklch(80% 0.1 17.278);
    --color-secondary-content: oklch(18% 0.02 17.278);
    --color-accent: oklch(62% 0.214 259.815);
    --color-accent-hover: oklch(72% 0.214 259.815);
    --color-accent-content: oklch(18% 0.02 259.815);
    --color-neutral: oklch(95% 0 0);
    --color-neutral-hover: oklch(90% 0 0);
    --color-neutral-content: oklch(15% 0 0);
    --color-info: oklch(62% 0.214 259.815);
    --color-info-hover: oklch(72% 0.214 259.815);
    --color-info-content: oklch(18% 0.02 259.815);
    --color-success: oklch(79% 0.209 151.711);
    --color-success-hover: oklch(89% 0.209 151.711);
    --color-success-content: oklch(18.026% 0.03 164.14);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-hover: oklch(92% 0.189 84.429);
    --color-warning-content: oklch(17.674% 0.027 79.94);
    --color-error: oklch(70% 0.191 22.216);
    --color-error-hover: oklch(80% 0.191 22.216);
    --color-error-content: oklch(18% 0.03 22.216);
    --radius-selector: 0.25rem;
    --radius-field: 0.25rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}
